@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    position: relative;
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #000;
}

a.link:hover::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-image: url(../img/bg-cta.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    width: 95%;
    max-width: 1200px;
    height: 100vh;
}

.cta {
    background: #000;
    color: #fff !important;
    padding: 12px 32px;
    border: none !important;
    font-weight: 500 !important;
    transition: all 300ms ease;
}

.cta:hover {
    /* background: #424242; */
    color: #000 !important;
    background-image: url(../img/bg-cta.jpg);
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header #logo a {
    color: #000;
    font-size: 32px;
    font-weight: 900;
    transition: all 300ms ease;
}

header #logo a:hover {
    background-image: url(../img/bg-cta.jpg);
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header #menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 32px;
}

header #menu .item a {
    font-size: 15px;
    font-weight: 600;
}

main {
    width: 100%;
    overflow: hidden;
}

main #hero-banner {
    position: relative;
    width: 100%;
    height: calc(100vh - 200px);
    background-image: url(../img/club2.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

main #hero-banner:hover {
    border-radius: 50px;
    background-image: url(../img/club.jpg);
}

main #hero-banner .title {
    font-size: 45px;
    font-weight: 700;
    transition: all 300ms ease;
}

main #hero-banner:hover .title {
    opacity: 0;
}

main #hero-banner .subtitle {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 32px;
    transition: all 300ms ease;
}

main #hero-banner .subtitle span {
    background-image: url(../img/bg-cta.jpg);
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

main #hero-banner:hover .subtitle {
    opacity: 0;
}

main #hero-banner .cta {
    position: absolute;
    bottom: 32px;
    opacity: 0;
    transition: all 300ms ease;
}

main #hero-banner:hover .cta {
    opacity: 1;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    gap: 64px
}

footer .left {
    font-size: 14px;
}

footer .left .credits {
    font-size: 12px;
}

footer .left .credits a {
    font-weight: 500;
}

footer .right {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 12px;
}

footer .right a {
    display: flex;
    flex-direction: row;
    align-items: center;
}